#projects{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "C1 C2 C3"
  "C4 C5 C6"
  "C7 C8 C9";
  padding: 5px;
  grid-gap: 10px;
  cursor: pointer;
}

.projectCard{
  position: absolute;
  width: 215px;
  height: 215px;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.cardContainer:hover .projectCard{
  transform: rotateY(180deg);
}

.projectCard div{
  border-radius: 20px;
}

.front{
  display: grid;
  place-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: black;
}

.back{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: fuchsia;
  transform: rotateY(180deg);
  word-wrap: break-word;
}

.back p{
  font-size: 2vw;
  margin: 10px;
}
